{% extends "layouts/index.html" %}
{% load static %}

{% block title %}About - LearnZhongWen{% endblock %}

{% block body %}
<main class="max-w-screen-lg mx-auto p-6 bg-white rounded-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">About</h1>
    <p class="mb-4 text-gray-600">
        Hi! I'm a software engineer who has been learning Chinese for 10 years. I'm building this site
        to help me learn and to share all the things that have helped me. I hope you find it useful too.
    </p>
    <p class="mb-4 text-gray-600">
        This site is designed to provide resources and tools for learning Chinese, including reading, writing,
        listening,
        and speaking practice. Regardless level, I hope you'll find something useful here.
    </p>
    <h2 class="text-2xl font-semibold mb-4">Features</h2>
    <ul class="list-disc list-inside mb-6 text-gray-600">
        <li class="mb-2">Curated reading materials for different levels</li>
        <li class="mb-2">Writing practice with stroke order guidance</li>
        <li class="mb-2">Listening exercises with native speakers</li>
        <li class="mb-2">Speaking practice with language exchange partners</li>
    </ul>
    <h2 class="text-2xl font-semibold mb-4">Contact</h2>
    <p class="mb-4 text-gray-600">
        If you have any questions or feedback, feel free to reach out to me.
    </p>
</main>
{% endblock %}