{% extends "layouts/index.html" %}
{% load static %}

{% block title %}LearnZhongWen{% endblock %}

{% block body %}
<main class="max-w-screen-lg my-5 mx-auto mb-auto text-center">
  <div class="text-center">
    <p class="text-gray-600">红烧肉 they call it, 红烧肉.</p>
  </div>
  <img src="{% static 'images/l2.webp' %}" class="mx-auto mt-6" width="75%" />
  <a href="/start">
    <button
      class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-6">
      Begin
    </button>
  </a>
</main>
{% endblock %}