{% extends "layouts/index.html" %}
{% load static %}

{% block title %}Resources - LearnZhongWen{% endblock %}

{% block body %}
<div class="resources max-w-screen-lg mx-auto p-6 bg-white rounded-lg">
    <h1 class="text-3xl font-bold mb-6 text-center">Resources</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <section class="reading mb-6">
            <h2 class="text-2xl font-semibold mb-4">Reading</h2>
            <ul class="list-disc list-inside">
                <li class="mb-2">
                    <a href="https://heavenlypath.notion.site/Comprehensive-Reading-Guide-from-Beginner-to-Native-Novels-b3d6abd583a944a397b4fbbb81e0c38c"
                        target="_blank" class="text-blue-500 hover:underline">Heavenly Path Reading Guide</a>
                    <p class="text-gray-600">An excellent curation of chinese learning methods for all grades. Highly
                        useful
                        for finding native content.</p>
                </li>
            </ul>
        </section>


        <section class="speaking mb-6">
            <h2 class="text-2xl font-semibold mb-4">Speaking</h2>
            <ul class="list-disc list-inside">
                <li class="mb-2">
                    <a href="https://heavenlypath.notion.site/Comprehensive-Listening-Guide-from-Beginner-to-Native-Media-42700b5402ce47d7b5209d4dc50d0cef"
                        target="_blank" class="text-blue-500 hover:underline">Heavenly Path Listening Guide</a>
                    <p class="text-gray-600">Another heavenly path curated list, this time for listening. Looking for
                        things
                        to watch or listen to? Find it all here. Level applicable.</p>
                </li>
            </ul>
        </section>

        <section class="writing mb-6">
            <h2 class="text-2xl font-semibold mb-4">Writing</h2>
            <ul class="list-disc list-inside">
                <li class="mb-2">
                    <a href="https://www.skritter.com/" target="_blank"
                        class="text-blue-500 hover:underline">Skritter</a>
                    <p class="text-gray-600">An app that helps you learn how to write Chinese characters with proper
                        stroke
                        order.</p>
                </li>
                <li class="mb-2">
                    <a href="https://www.archchinese.com/" target="_blank" class="text-blue-500 hover:underline">Arch
                        Chinese</a>
                    <p class="text-gray-600">A comprehensive tool for learning Chinese characters, including stroke
                        order
                        and character etymology.</p>
                </li>
            </ul>
        </section>

        <section class="listening mb-6">
            <h2 class="text-2xl font-semibold mb-4">Listening</h2>
            <ul class="list-disc list-inside">
                <li class="mb-2">
                    <a href="https://www.chinesepod.com/" target="_blank"
                        class="text-blue-500 hover:underline">ChinesePod</a>
                    <p class="text-gray-600">A podcast-based learning platform with lessons for all levels to improve
                        listening skills.</p>
                </li>
                <li class="mb-2">
                    <a href="https://www.maayot.com/" target="_blank" class="text-blue-500 hover:underline">Maayot</a>
                    <p class="text-gray-600">Daily Chinese stories delivered to your inbox to help you practice
                        listening
                        and reading.</p>
                </li>
            </ul>
        </section>

        <section class="apps mb-6">
            <h2 class="text-2xl font-semibold mb-4">Apps</h2>
            <ul class="list-disc list-inside">
                <li class="mb-2">
                    <a href="https://www.hellochinese.cc/" target="_blank"
                        class="text-blue-500 hover:underline">HelloChinese</a>
                    <p class="text-gray-600">A popular app for learning Chinese, offering interactive lessons, games,
                        and speech recognition to improve pronunciation. Very popular going up to HSK 4.</p>
                </li>
                <li class="mb-2">
                    <a href="https://www.superchinese.com/" target="_blank"
                        class="text-blue-500 hover:underline">SuperChinese</a>
                    <p class="text-gray-600">An AI-powered app that tailors lessons to your level, helping you build
                        vocabulary and improve grammar efficiently. This reaches up to HSK 5.</p>
                </li>
                <li class="mb-2">
                    <a href="https://www.duchinese.net/" target="_blank"
                        class="text-blue-500 hover:underline">DuChinese</a>
                    <p class="text-gray-600">A reading app designed for learners, featuring stories with pinyin,
                        translations, and audio for immersive language practice.</p>
                </li>
            </ul>
        </section>

    </div>
</div>
{% endblock %}